<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<button ion-button block (click)="accessGallery()">Get List</button>
	<div>{{imagesList}}</div>
	<!--<div>{{imagesList[0]}}</div>
	<div>{{imagesList[1]}}</div>-->
	<div *ngFor="let item of imagesList; let i = index">{{imagesList[i]}}</div>
	<ion-grid>
		<ion-row>
			<ion-col *ngFor="let item of imagesList; let i = index;" col-sm-6 col-md-4 col-lg-3>
				<img src="{{imagesList[i]}}" alt="">
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
